<section id="{{ section.section_id }}" class="page-section {{ section.background_style }}">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8 col-xl-6 text-center">
        <h2 class="mt-0 {{ section.title_style }}">{{ section.title }}</h2>
        <hr class="divider border border-primary border-2">
        <p class="text-muted mb-5">{{ section.text }}</p>
      </div>
    </div>
    <div class="row ">
      {% for location in section.locations %}
      <div id="{{location.id}}" class="col-lg-12 col-xl-6 ml-auto py-4 px-5">
        <h2 class="text-wedding-blue mt-0 text-center">{{location.name}}</h2>
        <div class="text-wedding-blue mb-4 text-center">
          {{location.text}}
        </div>
        {% assign map = location.id %}
        <iframe src="{{ site.data.links[map] }}" width="100%" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
